body {
    background-image: url("https://cdn.pixabay.com/photo/2017/08/31/16/20/robot-2701312_960_720.png");
    position:;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-x;
}
.card-col
{
    background-color: #64B5F6;
    color: white;
}